/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#container {
	margin-top: 0;
	width: 85%;
	max-width: 64em;
	margin: 0 auto;
}

header {
	background: #ffffff;
	border-bottom: solid 1px #999;
}

header h1 {
	margin: 0;
	color: #db7a0d;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
#secondary_nav {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	background: transparent;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#secondary_nav ul {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin: -2em 0 0 0;
	background: -webkit-linear-gradient(260deg, rgba(204, 204, 204, 0.50), rgba(255, 255, 255, .5));
	background: -o-linear-gradient(260deg, rgba(204, 204, 204, 0.50), rgba(255, 255, 255, .5));
	background: linear-gradient(190deg, rgba(204, 204, 204, 0.50), rgba(255, 255, 255, .5));
}

#secondary_nav li {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.hero_container {
	border-bottom: solid 1px #999;
	margin-top: 1em;
	padding-bottom: 1em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-moz-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-moz-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-transition: all .5s linear 0s;
	-o-transition: all .5s linear 0s;
	transition: all .5s linear 0s;
}

.hero_container section {
	/*padding: .5rem;*/
}

.hero_container section:first-child {
	color: #737373;
	border-right: solid 5px #737373;
	background: transparent;
}

.hero_container section:first-child:hover {

}

.hero_container section:last-child {
	color: #939393;
	border-right: solid 5px #939393;
	background: transparent;
}

.hero_container section:nth-child(even) {
	color: #555;
	border-right: solid 5px #555;
	background: transparent;
}

.hero_container section:last-child, #content_holder section:last-child {
	margin-right: 0;
}

.hero_container section:hover {
	/*width:80%;*/
}

.hero_container h1 {
	margin-top: 0;
	border-bottom: 10px solid rgba(255,255,255,.5);
}

.hero_container p {
	margin-left: 1em;
}

#prime_content {
	padding: 0 .5em .5em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 4;
	-webkit-flex: 4 1 0;
	-moz-box-flex: 4;
	-ms-flex: 4 1 0;
	flex: 4 1 0;
	/*flex-wrap: wrap;*/
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	/*width:30%;
	width: calc(45% - 1em);
	margin-right:1em;*/
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	background: #fff;
	border-left: solid 1px #999;
	background: white;
}

/*
This is a hack to get around FF's lack of support for flex-wrap see http://caniuse.com/#search=flex notes section for more info.
*/
.no-flexbox #prime_content {
	display: block;
}

.no-flexbox #prime_content article {
	width: -webkit-calc(50% - 1.5em);
	width: calc(50% - 1.5em);
	float: left;
	/*background: rgba(56,134,64,.8);*/
	margin-right: 1.5em;
}

.no-flexbox #prime_content article:nth-child(even) {

	margin-right: 0;
	margin-left: 1.5em;
}

#prime_content .fullwidth, .no-flexbox #prime_content .fullwidth {
	width: 100%;
	background: #ffffff;
}

/* End of FF hack */
#prime_content h2 {
	margin: 0;
	font-size: .875em;
	border-bottom: solid 2px #393939;
	color: #999;
}

#prime_content article {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-moz-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: -webkit-calc(49% - 1em);
	width: calc(49% - 1em);
	font-size: .9375em;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

#prime_nav {
	padding: 0 .5em .5em;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 0;
	-moz-box-flex: 1;
	-ms-flex: 1 1 0;
	flex: 1 1 0;
	/*width:auto;*/
	margin-right: 0em;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	background: #fff;
	border-left: solid 1px #999;
}

#prime_nav ul, #prime_nav a {
	padding-left: 1em;
	display: block;
}

#secondary_content {
	background: yellowgreen;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

@media only screen and (min-width: 20em) {
	/* Style adjustments for viewports that meet the condition 20em = 320px */
	#container {
		width: 95%;
		max-width: 64em;
	}
}

@media only screen and (min-width: 600px) {
	/* Style adjustments for viewports that meet the condition 600px */
	.hero_container {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
		height:22em;
		background: transparent url("../img/bw1024.png") no-repeat 50% 100% fixed;
		-webkit-background-size: cover;
		background-size: cover;
		padding-bottom:0;
		border:solid 1px #000;
		-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
		box-shadow: 2px 2px 5px rgba(0,0,0,.5);
	}

	.hero_container section {
		/*flex:1 0 0%;*/
		-webkit-transition: -webkit-box-flex .25s linear 0s;
		-webkit-transition: -webkit-flex-grow .25s linear 0s;
		-o-transition: flex-grow .25s linear 0s;
		transition: -webkit-box-flex .25s linear 0s;
		transition: -moz-box-flex .25s linear 0s;
		transition: -ms-flex-positive .25s linear 0s;
		transition: flex-grow .25s linear 0s;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-moz-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-webkit-flex-basis: 0;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-flex-shrink: 0%;
		-ms-flex-negative: 0%;
		flex-shrink: 0%;
	}

	.hero_container section:first-child {
		/*flex-grow: 1;*/
	}

	.hero_container section:first-child:hover {
	background: transparent url("../img/c1024.png") no-repeat 50% 100% fixed;
	-webkit-background-size: cover;
	background-size: cover;
	}

	.hero_container section:nth-child(even) {
		/*flex-grow: 1;*/
	}
	.hero_container section:nth-child(even):hover {
		background: transparent url("../img/c1024.png") no-repeat 50% 100% fixed;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.hero_container section:last-child {
		/*flex-grow: 1;*/
	}
	.hero_container section:last-child:hover {
		background: transparent url("../img/c1024.png") no-repeat 50% 100% fixed;
		-webkit-background-size: cover;
		background-size: cover;
	}

	.hero_container section:last-child, #content_holder section:last-child {

	}

	.hero_container section:hover,.hero_container section.openHero {
		-webkit-box-flex: 3;
		-webkit-flex-grow: 3;
		-moz-box-flex: 3;
		-ms-flex-positive: 3;
		flex-grow: 3;
	}
	.hero_container section:last-child.openHero,.hero_container section:nth-child(even).openHero,.hero_container section:first-child.openHero {
		background: transparent url("../img/c1024.png") no-repeat 50% 100% fixed;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.hero_container h1 {
		margin: 0 .6rem .3rem .3rem;
	}

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

