/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body {
	background: #fff;
	/*background: transparent url("../img/citrusCol.jpg") no-repeat 0% 0% fixed;
	background-size: cover;*/
}

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	border: 0;
	border-top: 1px solid #ccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
	background: #ccc;
	color: #000;
	margin: 0.2em 0;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*#container {
	background: transparent;
	/!*margin-top: 0;*!/
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

}*/
.headerWrapper {
	background: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .88);
	display: flex;
	flex-direction: column;
	height: 60px;
	left: 0;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 101;
	justify-content: center;
}

header {
	background: rgba(255, 255, 255, 0.15);
	/*width: 100%;
	max-width: 70em;
	margin: 0 auto;*/
	/*border-bottom: solid 1px #999;*/
	margin: 0 auto;
	max-width: 1200px;
	width: 95%;
}

header h1 {
	color: #db7a0d;
	margin: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	height: 150%;
	width: 0;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*#container {
	width: 95%;
	max-width: 64em;

}*/
#container {
	background: transparent;
	/*margin-top: 0;*/
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1200px;
	padding-top: 100px;
	width: 95%;
}

#nav {

	background: rgb(255, 255, 255);
	display: flex;
	/*	flex-direction: column;*/
	align-items: stretch;
	flex: 1 0 auto;
}

nav ul {
	/*display: flex;
	align-self: flex-start;*/
	box-sizing: border-box;
	/*background: linear-gradient(190deg, rgba(204, 204, 204, 0.50), rgba(255, 255, 255, 1));*/
	/*width: inherit;*/
	margin: /*-2em 0 0*/ 0;
	padding: 5%;
}

nav li {
	background: yellowgreen;
	align-items: stretch;
	flex: 1 0 auto;
	align-self: stretch;
}

nav a {
	background: #ffffff;
	color: #db7a0d;
	display: flex;
	font-size: 14px;
	font-size: 0.875rem;
	flex: 1 0 auto;
	align-items: center;
}

nav a:hover {
	background: #db7a0d;
	color: #fff;
}

form {
	display: flex;
}

input {
	border: none;
	padding: .75em;
}

input[type=text] {
	border: solid 1px #db7a0d;
	color: #fff;
	font-weight: 600;
	/*border-top: none;*/
}

.hero_container {
	/*border-bottom: solid 1px #999;*/
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	padding-bottom: 1em;
	transition: all .5s linear 0s;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
}

.hero_container section {
	/*padding: .5rem;*/
	background-image: none;
	color: #222223;
	display: block;
	transition: all .25s linear 0s;
}

.hero_container section:first-child {
	/*color: rgb(255, 255, 255);
	border-right: solid 5px #737373;*/
	/*background: transparent;*/
}

.hero_container section:last-child {
	/*color: rgb(204, 196, 61);
	border-right: solid 5px #939393;*/
	/*background: transparent;*/
}

.hero_container section:nth-child(even) {
	/*color: #ffffff;
	border-right: solid 5px #555;*/
	/*background: transparent;*/
}

.hero_container section:last-child, #content_holder section:last-child {
	margin-right: 0;
}

.hero_container h1 {
	border-bottom: 10px solid rgba(255, 255, 255, .51);
	margin-top: 0;
}

.hero_container p {
	margin-left: 1em;
}

#prime_content {
	background: #bebebe;
	border-left: solid 1px #999;
	display: flex;
	/*flex-wrap: wrap;*/
	padding: 0 .5em .5em;
	flex: 4 1 0;
	/*width:30%;
	width: calc(45% - 1em);
	margin-right:1em;*/
	flex-flow: row wrap;
	/*background: #fff;*/
	justify-content: space-between;
	align-self: flex-start;
}

.row,
.rowReversed {
	background: lavender;
	display: flex;
	flex-direction: column;
	padding: 1em 0 0 0;
	justify-content: space-between;
}
.row .row {
	background: rgba(255, 105, 180, 0.31);
	display: flex;
	padding: 0%;
	flex-flow: row wrap;
	flex: 0 0 100%;
}

section ul {
	list-style-type: none;
	padding-left: 0;
}
[class^="col"] {
	display: flex;
	transition: all .25s linear 0s;
	flex: 0 0 100%;
}
section li {
	font-size: 14px;
	font-size: 0.875rem;
	margin-bottom: 1em;
}
/*
This is a hack to get around FF's lack of support for flex-wrap see http://caniuse.com/#search=flex notes section for more info.
*/
.no-flexbox #prime_content {
	display: block;
}


.no-flexbox #prime_content article {
	float: left;
	margin-right: 1.5em;
	/*background: rgba(56,134,64,.8);*/
	width: calc(50% - 1.5em);
}

.no-flexbox #prime_content article:nth-child(even) {

	margin-left: 1.5em;
	margin-right: 0;
}

#prime_content .fullwidth, .no-flexbox #prime_content .fullwidth {
	background: #ffffff;
	width: 100%;
}

/* End of FF hack */
#prime_content h2 {
	border-bottom: solid 2px #393939;
	color: #999;
	font-size: .875em;
	margin: 0;
}

#prime_content article {
	display: flex;
	flex-direction: column;
	font-size: .9375em;
	width: calc(49% - 1em);
	flex: 0 1 auto;
	align-self: flex-start;
}

#prime_nav {
	background: #fff;
	border-left: solid 1px #999;
	/*width:auto;*/
	margin-right: 0em;
	padding: 0 .5em .5em;
	flex: 1 1 0;
	align-self: stretch;
}

#prime_nav ul, #prime_nav a {
	display: block;
	padding-left: 1em;

}

#secondary_content {
	background: #946bcd;
	display: flex;
}

@media only screen and (min-width: 20em) {
	/* Style adjustments for viewports that meet the condition 20em = 320px */

}

@media only screen and (min-width: 48em) {
	/* Style adjustments for viewports that meet the condition 48em aka 768 */

/*	.col_span_1_of_12	{flex: 0 0 4.4375%;}
	.col_span_2_of_12	{flex: 0 0 13.125%;}
	.col_span_3_of_12	{flex: 0 0 21.8125%;}
	.col_span_4_of_12	{flex: 0 0 30.5%;}
	.col_span_5_of_12	{flex: 0 0 39.1875%;}
	.col_span_6_of_12	{flex: 0 0 47.875%;}
	.col_span_7_of_12	{flex: 0 0 56.5625%;}
	.col_span_8_of_12	{flex: 0 0 65.25%;}
	.col_span_9_of_12	{flex: 0 0 73.9375%;}
	.col_span_10_of_12	{flex: 0 0 82.625%;}
	.col_span_11_of_12	{flex: 0 0 91.3125%;}
	.col_span_12_of_12	{flex: 0 0 100%;}*/
	.col_span_1_of_12	{flex: 0 0 5.27777777777778%;}
	.col_span_2_of_12	{flex: 0 0 13.8888888888889%;}
	.col_span_3_of_12	{flex: 0 0 22.5%;}
	.col_span_4_of_12	{flex: 0 0 31.1111111111111%;}
	.col_span_5_of_12	{flex: 0 0 39.7222222222222%;}
	.col_span_6_of_12	{flex: 0 0 48.3333333333333%;}
	.col_span_7_of_12	{flex: 0 0 56.9444444444444%;}
	.col_span_8_of_12	{flex: 0 0 65.5555555555556%;}
	.col_span_9_of_12	{flex: 0 0 74.1666666666667%;}
	.col_span_10_of_12	{flex: 0 0 82.7777777777778%;}
	.col_span_11_of_12	{flex: 0 0 91.3888888888889%;}
	.col_span_12_of_12	{flex: 0 0 100%;}




	header {
		/*background: #ff2963;*/
		display: flex;
		/*align-items: stretch;
		align-content: space-around;*/
		justify-content: space-between;
	}

	header h1 {
		flex: 0 0 auto;
		align-self: stretch;
	}
	.row h1 {
		font-size: 24px;
		font-size: 1.5rem;
		margin:0 0 .5rem 0;
	}
	.row h2 {
		margin: 0 0 .35rem 0;
	}

	nav {
		display: flex;
		transition: all .25s linear 0s;
		flex: 0 1 calc(100% - 217px);
		justify-content: space-between;
	}

	nav ul {
		background: lightgoldenrodyellow;
		display: flex;
		margin-right: 0em;
		padding: 0% 0% 0% .5em;
		flex: auto;
		justify-content: flex-start;
	}

	nav li {
		background: rgba(205, 92, 92, 0.91);
		display: flex;
		align-items: stretch;
		flex: 0 1 auto;
		align-self: stretch;
	}

	nav a {
		padding: .75rem 1rem;
	}

	nav form {
		background: lightcyan;
		display: flex;
		justify-content: flex-end;
		flex: auto;
	}

	input[type="submit"] {
		width: 50px;
	}
	.hero_container {
		background: transparent url("../img/citrusGs.jpg") no-repeat 0% 0% fixed;
		background-size: 100% auto;
		flex-direction: row;
		height: 20em;
		/*background: transparent url("../img/bw1024.png") no-repeat 25%  35% fixed;
		background-size: cover;*/
		margin-bottom: 3em;
		/*border: solid 1px #000;*/
		padding-bottom: 0;
		flex-flow: wrap;
		align-content: stretch;
	}
	.hero_container section {
		background-size: cover;
		overflow: hidden;
		transition: all .25s linear 0s;
		/*background: transparent url("../img/citrusGs.jpg") no-repeat 25% 35% fixed;*/
		transition-property: flex-grow, flex, transform;
		flex: 1 0 0;
	}

	.hero_container section:hover,
	.hero_container section.openHero {
		background: transparent url("../img/citrusCol.jpg") no-repeat 0 0 fixed;
		background-size: 100% auto;
		box-shadow:  2px 4px 15px rgba(0, 0, 0, .5),  -2px -2px 15px rgba(0, 0, 0, .5);
		transform : scale(1.025);
		flex-grow: 2.5;
	}

	.hero_container section p {
		opacity: 0;
		transition: all .75s ease-in 0s;
	}

	.hero_container section h1 {
		font-size: 3.25rem;
		transform-origin: 100% 50%;
		transformZ: rotate(90deg);
	}

	.oranges:hover h1, .openHero.oranges h1 {
		border-color: orange;
	}

	.oranges:hover h1:first-letter, .openHero.oranges h1:first-letter {
		color: orange;
	}

	.lemons:hover h1, .openHero.lemons h1 {
		border-color: #fcf141;
	}

	.lemons:hover h1:first-letter, .openHero.lemons h1:first-letter {
		color: #fcf141;
	}

	.limes:hover h1, .openHero.limes h1 {
		border-color: #32CD32;
	}

	.limes:hover h1:first-letter, .openHero.limes h1:first-letter {
		color: #32CD31;
		color: red;
	}

	section h1 {
		color: #979797;
	}

	.hero_container section:hover p {
		opacity: 1;
	}

	.hero_container section:hover, .hero_container section.openHero {
		/*flex-grow: 2;*/
		/*border-color: rgba(219, 122, 13, 0.75);*/
	}

	/*	.hero_container section:last-child.openHero, .hero_container section:nth-child(even).openHero, .hero_container section:first-child.openHero {
			background: transparent url("../img/citrusCol.jpg") no-repeat 25% 35% fixed;
			background-size: cover;
		}*/
	/*	.hero_container section:not(.openHero) {
			opacity:.5;
		}*/
	.hero_container h1 {
		margin: 0 .6rem .3rem .3rem;
	}

	input[type="text"] {
		background: #db7a0d;
		box-sizing: border-box;
		height: 2.75em;
		transition: all .25s linear 0s;
		width: 50%;
	}
	input[type="submit"] {
		background: lightpink;
		width: 25%;
	}
	.no-touch input[type="text"]:focus {
		background: #d63cdb;
		color: #db7a0d;
		transition: all .26s linear 0s;
		width: 75%;
	}

	.row {
		flex-direction: row;
	}
	.rowReversed {
		flex-direction: row-reverse;
	}

	.row section,
	.rowReversed section {
		background: rgba(237, 237, 237, 0.83);
		box-sizing: border-box;
		/*margin-left: 3%;*/
	}

	[class^="col"] {
		border: none;
		box-sizing: border-box;
		padding: .5em;
		/*display: flex;*/
	}
	.row .row [class^="col"] {
		padding: 0%;
	}


	.test {
		background: cadetblue;
	}

	.test section:first-child {
		background: cornsilk;
		flex: 0 0 25%;
	}

	.test section:last-child {
		background: cornsilk;
		flex: 0 0 25%;
	}

	.test section:nth-child(2) {
		background: brown;
		flex: 0 0 50%;
	}

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		box-shadow: none !important; /* Black prints faster: h5bp.com/s */
		color: #000 !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

