# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
*.jshintrc
/img/queenie.jpg
/img/treacle.jpg
/doc
node_modules/*
