# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
*.jshintrc
/img/queenie.jpg
/img/treacle.jpg
/doc
/humans.txt
/LICENSE
/.htaccess
/LICENSE.md
/crossdomain.xml
/apple-touch-icon-precomposed.png
/CHANGELOG.md
/robots.txt
/CONTRIBUTING.md
/README.md
/html5BoilerPlate
node_modules/*
